/*only with bg class, not need for open dialog*/
.bg {
	background-image: url('imageviewer/images/bg0.jpg');
}

.bg label link {
	color: #2a76c6;
}

.bg label,
.bf label,
.bg combobox {
	font-family: /* Tahoma,'Times New Roman', */ Times, serif;
	font-size: 13pt;
}

/* https://stackoverflow.com/questions/44866035/make-gtk-entry-box-smaller */
entry { 
	min-height: 0px; 
	font-size: 14px;
}

.cerror{
	color:rgb(255,0,0);
}
